<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div id="header">
		<div id="head_info">
			<div id="reg_name"></div>
			<div id="cty_name"></div>
			<ul id="disaster_info">
				<li id="dis_type"></li>
				<li id="dis_level"></li>
				<li id="lending_type"></li>
				<li id="dis_time"></li>
			</ul>
		</div>
		<div id="head_map"></div>
	</div>
	<div id="main">
		<ul id="org_info">
			<li id="org_name"></li>
			<li id="org_type"></li>
			<li id="org_size"></li>
			<li id="org_desc"></li>
			<li id="org_url"></li>
			<li id="org_qr_code"></li>
		</ul>
		<div id="activity"></div>
	</div>
	<div id="footer"></div>
</body>
</html>