<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.3&sensor=false"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="handlers.js"></script>
	<link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
	<div id="main_cont">
		<div id="head_info"></div>
		<div id="head_map"></div>
		<div id="main">
			<div id="col1"></div>
			<div id="col2"></div>
		</div>
		<div id="footer"></div>
	</div>



	<script type="text/jst" id="header_template">
		<div class="abbreviation"><%= disaster.area_abbreviation %></div>
		<div class="name">
			<%= disaster.name %>
			<div class="funded">
				<% if (disaster.funded == 'yes') { %>
					1
				<% } else { %>
					0
				<% } %>
			</div>
		</div>
		<div class="attributes">
			<div class="disaster_type"><%= disaster.type %></div>
			<div class="severity"><%= disaster.severity %></div>
			<div class="type"><%= disaster.lending_type %></div>
			<div class="date"><%= disaster.days %> days ago</div>
		</div>
	</script>
	<script type="text/jst" id="organization_logo">
		<img src="<%= logo_url %>" />
	</script>
	<script type="text/jst" id="image">
		<div class="image_cont">
			<div class="image"><img src="<%= url %>" class="image" /></div>
			<div class="caption"><%= caption %></div>
		</div>
	</script>
	<script type="text/jst" id="page">
		<span class="page" id="page_<%= counter %>">&bull;</span>
	</script>
	<script type="text/jst" id="organization_details">
		<div class="organization_name"><%= name %></div>
		<div class="organization_type"><%= type %></div>
		<div class="organization_size"><%= size %></div>
		<div class="organization_logo"><img src="<%= logo_url %>" /></div>
		<div class="organization_description"><%= description %></div>
		<div class="organization_url"><%= url %></div>
		<div class="organization_qr"><img src="<%= qr_url %>" /></div>
	</script>
	<script type="text/jst" id="feed_entry">
		<div class="entry">
			<p class="description"><%= text %></p>
			<p class="meta">
				<span class="source">Posted via <%= source %></span>
				<span class="date"><%= days %></span>
			</p>
		</div>
	</script>
</body>
</html>
