<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

  <title>Disaster Panel page</title>

  <link href="style.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

</head>

<body>
  
  <h1>Header1</h1>
  <h2>Header2</h2>
  <h3>Header3</h3>

  <hr/>

</body>

</html>
